.header {
  background-color: #444;
  padding: 0 5rem;
  height: 8rem;
  position: relative;
  z-index: 100;

  display: flex;
  align-items: center;
  @media only screen and (max-width: 62.5em) {
    flex-direction: column;
  }

  &__logo img {
    height: 3.5rem;
  }

  .nav {
    display: flex;
    align-items: center;
    @media only screen and (max-width: 37.5em) {
      flex-direction: column;
    }

    &--tours {
      flex: 0 1 40%;

      @media only screen and (max-width: 62.5em) {
        margin-bottom: 1.5rem;
      }
      @media only screen and (max-width: 37.5em) {
        margin-bottom: 0;
      }
    }

    &--user {
      flex: 0 1 40%;
      justify-content: flex-end;
    }

    &__el,
    &__el:link,
    &__el:visited {
      color: #f7f7f7;
      text-transform: uppercase;
      font-size: 1.6rem;
      text-decoration: none;

      display: inline-flex;
      align-items: center;

      transition: all 0.2s;
      font-weight: 400;
      background: none;
      border: none;
      cursor: pointer;
      font-family: inherit;

      &:hover,
      &:active {
        transform: translateY(-2px);
        text-shadow: 0 0.7rem 1rem black;
      }

      &:not(:last-child) {
        margin-right: 3rem;

        @media only screen and (max-width: 37.5em) {
          margin-right: 0;
          margin-bottom: 1.2rem;
        }
      }
    }

    &__el:focus {
      outline: none;
    }

    &__el--cta {
      padding: 1rem 3rem;
      border-radius: 10rem;
      border: 1px solid currentColor !important;
      transition: all 0.3s;

      &:hover {
        background-color: #f7f7f7;
        color: #777;
        text-shadow: none;
        border-color: #f7f7f7;
      }
    }
  }
}
